@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  font-family: "Quicksand", sans-serif;
}
a {
  text-decoration: none;
}
.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.section-title {
  font-size: 4rem;
  font-weight: 300;
  color: black;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
}

.section-title span {
  color: #f05454;
}
.brand span {
  color: #f05454;
}

.cta {
  display: inline-block;
  padding: 10px 30px;
  color: #30475e;
  background-color: transparent;
  border: 2px solid #f05454;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-top: 30px;
  transition: 0.3s ease;
  transition-property: backround-color, color;
}
.cta:hover {
  color: white;
  background-color: #f05454;
}

/* header section*/
#header {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: auto;
  background-color: #e8e8e8;
}
#header .header {
  min-height: 8vh;
  background-color: #30475e;
  transition: 0.3s ease background-color;
}
#header .nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 1300px;
  padding: 0 10px;
}
#header .nav-list ul {
  list-style: none;
  position: absolute;
  background-color: rgb(31, 30, 30);
  width: 100vw;
  height: 100vh;
  left: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  overflow-x: hidden;
  transition: 0.6s ease left;
}
#header .nav-list ul.active {
  left: 0%;
}
#header .nav-list ul a {
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  padding: 20px;
  display: block;
}
#header .nav-list ul a {
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  padding: 20px;
  display: block;
}
#header .nav-list ul a::after {
  content: attr(data-after);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: rgba(240, 248, 255, 0);
  font-size: 15rem;
  letter-spacing: 50px;
  z-index: -1;
  transition: 0.3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
  transform: translate(-50%, -50%) scale(1);
  letter-spacing: initial;
}
#header .nav-list ul li:hover a {
  color: #f05454;
}
#header .hamburger {
  height: 60px;
  width: 60px;
  display: inline-block;
  border: 3px solid white;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  cursor: pointer;
  transform: scale(0.8);
  margin-right: 20px;
}
#header .hamburger:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 3px solid white;
  animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
  height: 2px;
  width: 30px;
  position: relative;
  background-color: white;
  z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background-color: white;
  transition: 0.3s ease;
  transition-property: top, bottom;
}
#header .hamburger .bar::after {
  top: 8px;
}
#header .hamburger .bar::before {
  bottom: 8px;
}
#header .hamburger.active .bar::before {
  bottom: 0;
}
#header .hamburger.active .bar::after {
  top: 0;
}

/* end header section*/

/* hero section */
#hero {
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 1;
}

#hero::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.4;
  z-index: -1;
}
#hero .hero {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
  justify-content: flex-start;
}

#hero h1:nth-child(1) {
  animation-delay: 1.5s;
}
#hero h1:nth-child(2) {
  animation-delay: 2.5s;
}
#hero h1:nth-child(3) {
  animation: text_reveal_name 0.5s ease forwards;
  animation-delay: 3.5s;
}
#hero h1 {
  display: block;
  width: fit-content;
  font-size: 4rem;
  position: relative;
  color: transparent;
  animation: text_reveal 0.5s ease forwards;
  animation-delay: 1s;
}

#hero h1:nth-child(1) span {
  animation-delay: 1s;
}

#hero h1:nth-child(2) span {
  animation-delay: 2s;
}

#hero h1:nth-child(3) span {
  animation-delay: 3s;
}

#hero h1 span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #f05454;
  animation: text_reveal_box 1s ease;
  animation-delay: 0.3s ease;
}

/* end hero section */

/* service section */
.services {
  flex-direction: column;
  text-align: center;
  max-width: 100%;
  margin: 0 auto;
  padding: 100px 0;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  background-color: #e8e8e8;
}

#services .service-top {
  margin-bottom: 100px;
}

#services .service-title {
  margin-top: 10px;
}

#services .service-top p {
  font-size: 1.8rem;
  margin-top: 5px;
  line-height: 2.5rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
  padding: 0 15rem;
}

#services .service-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#services .service-item {
  flex-basis: 80%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  border-radius: 10px;

  background-size: cover;
  margin: 10px 5%;
}

#services .service-item h2 {
  font-size: 3rem;
  color: #30475e;
  margin-bottom: 15px;
  text-transform: uppercase;
}

#services .service-item p {
  font-size: 1.8rem;
  color: black;
  text-align: left;
  line-height: 1.9rem;
}

#services .service-bottom .icon {
  margin-bottom: 15px;
}

/* end service section */

/* projects section */
#projects .projects {
  flex-direction: column;
  max-width: 100%;
  margin: 0 auto;
  padding: 100px 0;
  background-color: #e8e8e8;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

#project .projects-header h1 {
  margin-bottom: 50px;
  background-color: #e8e8e8;
}

#projects .all-projects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #e8e8e8;
}

#projects .project-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid red;
  box-shadow: 5px 5px 5px 5px grey;
  background-color: white;
}

#projects .project-info {
  padding: 30px;
  flex-basis: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;

  color: #30475e;
  width: 100%;
}

#projects .project-img {
  height: 300px;
  overflow: hidden;
}

#projects .project-img:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: -moz-linear-gradient(60deg, #485563 100%);
  opacity: 0.8;
}

#projects .project-img img {
  transition: 0.3s ease transform;
}

#projects .project-item:hover .project-img img {
  transform: scale(1.1);
}

#projects .project-info h1 {
  font-size: 3.5rem;
  font-weight: 500;
}
#projects .project-info h2 {
  font-size: 2rem;
  font-weight: 500;
  margin-top: 10px;
}

#projects .project-info p {
  color: #f05454;
  font-size: 1.3rem;
}

/* end projects section */

/* about section*/
#about .about {
  flex-direction: column-reverse;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 20px;
}

#about .col-left {
  width: 360px;
  height: 360px;
}

#about .col-right {
  width: 100%;
}

#about .col-right h2 {
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  margin-bottom: 10px;
}
#about .col-right p {
  margin-bottom: 20px;
}
#about .col-right .cta {
  color: black;
  margin-bottom: 50px;
  padding: 10px 20px;
  font-size: 2rem;
}
#about .col-left .about-img {
  height: 100%;
  width: 100%;
  position: relative;
  border: 10px solid white;
}

#about .col-left .about-img::after {
  content: "";
  position: absolute;
  left: -33px;
  top: 20px;
  height: 98%;
  width: 98%;
  border: 7px solid #f05454;
  z-index: -1;
}

/* end about section*/

/*contact section*/
#contact .contact {
  flex-direction: column;
  max-width: 0 auto;
  margin: 0 auto;
}
#contact .contact-items {
  width: 350px;
}
#contact .contact-item {
  width: 80%;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  padding: 30px;
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 0px 18px 0 #0000002c;
  transition: 0.3s ease box-shadow;
}
#contact .contact-item:hover {
  box-shadow: 0px 0px 5px 0 #0000002c;
}
#contact .icon {
  width: 70px;
  margin: 0 auto;
  margin-bottom: 10px;
}
#contact .contact-info h1 {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 5px;
}
#contact .contact-info h2 {
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 500;
}
/*end contact section*/

/*footer*/
#footer {
  background-color: #222831;
}
#footer .footer {
  min-height: 200px;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.brand {
  text-align: center;
  color: white;
  font-weight: 500;
  font-size: 2rem;
}
#footer .social-icon {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 0 3rem;
}

#footer h2 {
  color: white;
  text-align: center;
  justify-content: center;
}
#footer p {
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
}
.social-item img {
  filter: grayscale(1);
}
.social-item:hover img {
  filter: grayscale(0);
  transition: 0.3s ease filter;
}
.social-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
}

/* end footer*/
/* keyframes */
@keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes text_reveal {
  100% {
    color: #222831;
    display: block;
  }
}
@keyframes text_reveal_name {
  100% {
    color: #f05454;
    font-weight: bold;
  }
}
/* end keyframes */

@media only screen and (max-width: 600px) {
  #services .service-top p {
    padding: 0 2.5rem;
  }
}
